# Normalize line endings
* text=auto eol=lf

# Scripts must stay LF
*.sh   text eol=lf
mvnw   text eol=lf
*.mjs  text eol=lf

# Windows scripts keep CRLF
*.cmd  text eol=crlf
*.bat  text eol=crlf

# Binary
*.jar  binary
*.png  binary
*.jpg  binary
*.gif  binary
*.ico  binary
