# Default owners for everything in the repo.
* @sequeless/maintainers

# Build & release engineering
/.github/        @sequeless/maintainers
/pom.xml         @sequeless/maintainers

# Docs & ADRs
/docs/           @sequeless/maintainers
